<ion-header no-border>
    <ion-navbar text-center>
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
        <ion-title>Edit Profile</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-row *ngIf="form">
        <form [formGroup]="form" col-12 text-center>
            
                <ion-icon name="ios-contact" text-center class="contact"></ion-icon>
          

            <ion-item>
                <ion-label>Username</ion-label>
                <ion-input formControlName="username" type="text"></ion-input>
            </ion-item>
            <div class="error-msg" text-left *ngIf="!form.controls.username.valid  && (form.controls.username.dirty)"    >
                <p>This field is required.</p>
            </div>

            <ion-item>
                <ion-label>Password</ion-label>
                <ion-input formControlName="password" type="password"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Confirm Password</ion-label>
                <ion-input formControlName="password" type="password"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Email</ion-label>
                <ion-input formControlName="email" type="email"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Contact Number</ion-label>
                <ion-input formControlName="contactNo" type="text"></ion-input>
            </ion-item>

            <!--onClick()="editProfile()"-->
            <button ion-button full medium class="save-btn" [disabled]="!form.valid" (click)="editProfile()">save</button>

        </form>
    </ion-row>
</ion-content>