page-home {
    font-family: "Segoe UI Light";
    button {
         align-items: baseline;
    }
}

.card { 
    .warning-color{
        background: #C00000;
        color:#FFF;
        font-family: "Segoe UI Semibold";
        font-size: 20px;
    }
}
