page-home {
    background:#008001;
    font-family: "Segoe UI Light";
    button {
         align-items: baseline;
    }

    
}

home{
    .card{
        margin-left:0px !important;
    }

    ion-grid {
        justify-content: center;
    }
}

.card { 
    .reading-details{
         padding-left: 7px;
        
        .device-number{
            font-size: 20px;
            margin-top: 15px !important;
            margin-bottom:5px;
        }

        .site-details{
            font-size: 12px;
            margin-bottom: 15px;
            button{
                height: 1.6em;
                font-size: 14px;
                width: 100%;
                border-radius: 2px;
            }

            button.activated{
                color:#FFF !important;
            }
        }
    }
    .date-time{
           margin-top: -10px;
    color: #626663;
    font-size: 12px;
        margin-bottom: 8px;
        }
}

 .card { 
    .warning-color{
        h2{
            padding-top: 14px;
            font-family: "Segoe UI Semibold";
            color: #FFF;
            padding-bottom: 8px;
        }
        p{
            color:#FFF;
            font-size: 12px;
            margin-top: -5px;
        }

        .readings{
            padding-left: 5px;
            padding-bottom: 14px;
        }

        color:#FFF;
    }
    .reading-details{
         padding-left: 7px;
        
        .device-number{
            font-size: 20px;
            margin-top: 15px !important;
            margin-bottom:5px;
        }

        .site-details{
            font-size: 12px;
            button{
                height: 1.6em;
                font-size: 14px;
                width: 100%;
                border-radius: 2px;
            }

            button.activated{
                color:#FFF !important;
            }
        }
    }
}

 .critical{
        .warning-color{
            background: #C00000 !important;
        }
        button{
                color: #C00000 !important;
                border-color: #C00000 !important;
                width:100%;
            }

            button.activated{
                background:#C00000 !important;
                //color:#FFF;
            }
             h2{
                color:#C00000;
            }
            width:100%;
    }

    .reading-status{
        .warning-color{
            background: #238C90 !important;
        }
        button{
                color: #26C0C8 !important;
                border-color: #26C0C8 !important ;
            }

            button.activated{
                background:#26C0C8 !important;
            }
            h2{
                color:#26C0C8;
            }
            width:100%;
    }

    .mitigating-action{
        button{
                color: #238C90 !important;
                border-color: #238C90 !important ;
            }

            button.activated{
                background:#238C90 !important;
            }
            h2{
                color:#238C90;
            }
            width:100%;
    } 
  
  .alert-md .alert-wrapper {
    border-radius: 23px;
    max-width: 328px;
  }

  .critical-alert { 
      h2{
        color:#C00000 !important;
      }

      .alert-button{
          color:#C00000 !important;
      }
      
  }

  .warning-alert { 
      h2{
        color:#FE9901 !important;
      }

      .alert-button{
          color:#FE9901 !important;
      }
  }

  .weather{
      background: #238C90;
      font-size:30px;
      margin:20px;
      margin-top: -16px;
      width: 115%;
      margin-left: -16px;
      height: 35%;
      color: #FFF;

      .weather-temp-icon{
          margin-top: 10px;
      }
      .weather-icon{
        margin-left: 0px;
        margin-top: -10px;
      }

      .weather-temp{
          font-size: 73px;
          margin-left:-4px;
      }

      .weather-desc{
            font-size:20px;
            margin-top: -20px;
      }

      .weather-location{
          font-size: 20px;
          font-family: "Segoe UI Semibold";
          margin-top: -19px;
      }

      .weather-temp-text{
          margin-top:-10px;
      }
  }

    .site-dropdown{
        margin-top:-15px;
        border-bottom: 1px solid #1DA893;
        color:#1DA893;
        background:#D9D9D9;
        font-family:"Segoe UI Semibold"
    } 

    .item-input .label-md, .item-select .label-md, .item-datetime .label-md, .select-md .select-icon .select-icon-inner {
        color: #1DA893;
        font-family:"Segoe UI Light";
    }

    .site-dropdown-header {
        background: #D9D9D9;
        margin-left: -16px;
        width: 110%;    
        padding-bottom: 10px;
        margin-top: -5px;
    }

    .average-health{
        margin-top:13px;
        
        .card-md {
            border-radius: 15px;
            width: calc(100%);
            height: 90px;
        }

        .card-md p {
            color:#FFF !important;
            font-size: 2.4rem;
            padding-top: 18px;
        }

        .ave-status{
            width:100%;
            margin-left: -8px;
            margin-top: -25px;
            h2{
                color:#FFF !important;
            }
            .measurement{
                font-size:14px;
                padding-top: 27px;
            }

             [id="3"],.critical{
                background:#C00000 !important;
            }

            [id="1"],.optimal{
                background: #008001 !important;
            }

            [id="2"],.warning{
                background:#FE9901 !important;
            }
            
        }

    }
 