mitigating-action{
    
        [id="3"],.critical{
                background:#C00000 !important;
            }

            [id="2"],.warning{
                background:#FE9901 !important;
            }
            .card, h2{

            color:#FFF;
            }

            .card-md h2 {
                color: #FFF;
            }

            .actions-description{
                margin-top:8px;
                margin-bottom: 5px;
            }
            font-size:15px;
   
}