add-pond {
    .item{
        font-size:14px;
    }

    .toggle-checked{
        .toggle-icon{
            background:#26C0C8 !important;
        }
    }

    .cancel-btn{
        width:100%;
    }

    .add-btn{
        width:100%;
    }
}
