<ion-header no-border>
    <ion-navbar>
        <ion-title>edit pond</ion-title>
        <ion-buttons end>
            <button ion-button (click)="closeModal()">Close</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content padding *ngIf="form">
    <form [formGroup]="form" (ngSubmit)="manage(form.value)">
        <ion-item>
            <ion-label>Site/Pond Name</ion-label>
            <ion-input formControlName="siteName" type="text" text-right></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Address</ion-label>
            <ion-input formControlName="location" type="text" text-right></ion-input>
        </ion-item>

        <ion-item *ngIf="speciesList">
            <ion-label>Species</ion-label>
            <!--<ion-select [(ngModel)]="gaming">-->
            <ion-select formControlName="species">
                <ion-option *ngFor="let species of speciesList" value="{{species.id}}">{{species.commonName}}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Site Size</ion-label>
            <ion-input formControlName="siteSize" type="text" text-right></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Water Depth</ion-label>
            <ion-input formControlName="waterDepth" type="text" text-right></ion-input>
        </ion-item>

        <ion-item *ngIf="cultureEnvironmentList">
            <ion-label>Culture Environment</ion-label>
            <!--<ion-select [(ngModel)]="env">-->
            <ion-select formControlName="cultureEnvironment">
                <ion-option *ngFor="let cultureEnvironment of cultureEnvironmentList" value="{{cultureEnvironment.code}}">{{cultureEnvironment.display}}</ion-option>
                <!--<ion-option value="bw">Brackish Water</ion-option>
                <ion-option value="mc">Mariculture</ion-option>-->
            </ion-select>
        </ion-item>

        <ion-item *ngIf="cultureTypeList">
            <ion-label>Culture Type</ion-label>
            <ion-select formControlName="cultureType">
                <!--<ion-select [(ngModel)]="type">-->
                <ion-option *ngFor="let cultureType of cultureTypeList" value="{{cultureType.code}}">{{cultureType.display}}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Customize Reading Interval</ion-label>
            <!--<ion-toggle [(ngModel)]="isCustomizeReading" [checked]="isCustomizeReading"></ion-toggle>-->
            <ion-toggle [checked]="isCustomizeReading" (ionChange)="toggleReading()"></ion-toggle>

        </ion-item>

        <ion-item *ngIf="!isCustomizeReading && hoursList">
            <ion-label>Reading Interval</ion-label>
            <ion-select formControlName="readingInterval">
                <ion-option *ngFor="let hour of hoursList" value="{{hour.code}}">{{hour.display}}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item *ngIf="isCustomizeReading && hoursList">
            <ion-label>Reading Interval Hours</ion-label>
            <ion-input formControlName="readingInterval" type="text" text-right></ion-input>
            <ion-label class="label-right">hour/s</ion-label>
        </ion-item>


        <!--<ion-item>
            <ion-label>Customize Water Thresholds</ion-label>
            <ion-toggle [(ngModel)]="isCustomizeThresh" [checked]="isCustomizeThresh"></ion-toggle>
            <ion-toggle></ion-toggle>
        </ion-item>-->

        <!--<div *ngIf="isCustomizeThresh">
            <ion-row>
                <div class="threshold-title">
                    pH
                </div>
                <ion-item>
                    <ion-label>Deadly Low</ion-label>
                    <ion-input text-right type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Deadly High</ion-label>
                    <ion-input text-right type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Optimal Low</ion-label>
                    <ion-input text-right type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Optimal High</ion-label>
                    <ion-input text-right type="text"></ion-input>
                </ion-item>
            </ion-row>

            <ion-row>
                <div class="threshold-title">
                    Dissolved Oxygen
                </div>
                <ion-item>
                    <ion-label>Deadly Low</ion-label>
                    <ion-input text-right type="text"></ion-input>
                    <ion-label class="label-right">mg/L</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Deadly High</ion-label>
                    <ion-input text-right type="text"></ion-input>
                    <ion-label class="label-right">mg/L</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Optimal Low</ion-label>
                    <ion-input text-right type="text"></ion-input>
                    <ion-label class="label-right">mg/L</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Optimal High</ion-label>
                    <ion-input text-right type="text"></ion-input>
                    <ion-label class="label-right">mg/L</ion-label>
                </ion-item>
            </ion-row>

            <ion-row>
                <div class="threshold-title">
                    Salinity
                </div>
                <ion-item>
                    <ion-label>Deadly Low</ion-label>
                    <ion-input text-right type="text"></ion-input>
                    <ion-label class="label-right">mg/L</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Deadly High</ion-label>
                    <ion-input text-right type="text"></ion-input>
                    <ion-label class="label-right">mg/L</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Optimal Low</ion-label>
                    <ion-input text-right type="text"></ion-input>
                    <ion-label class="label-right">mg/L</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Optimal High</ion-label>
                    <ion-input text-right type="text"></ion-input>
                    <ion-label class="label-right">mg/L</ion-label>
                </ion-item>
            </ion-row>

            <ion-row>
                <div class="threshold-title">
                    Temperature
                </div>
                <ion-item>
                    <ion-label>Deadly Low</ion-label>
                    <ion-input text-right type="text"></ion-input>
                    <ion-label class="label-right">°C</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Deadly High</ion-label>
                    <ion-input text-right type="text"></ion-input>
                    <ion-label class="label-right">°C</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Optimal Low</ion-label>
                    <ion-input text-right type="text"></ion-input>
                    <ion-label class="label-right">°C</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Optimal High</ion-label>
                    <ion-input text-right type="text"></ion-input>
                    <ion-label class="label-right">°C</ion-label>
                </ion-item>
            </ion-row>
        </div>-->

        <ion-row class="devices">
            <div class="devices-title">
                Devices
            </div>
            <ion-col>
                <button float-right ion-button small outline class="add-device" (click)="addNewDeviceField()">add device</button>
            </ion-col>
        </ion-row>

        <ion-row formArrayName="devices" margin-bottom *ngIf="form.controls.devices.length > 0">
            <ion-row [formGroupName]="i" *ngFor="let tech of form.controls.devices.controls; let i = index" class="device-fields">
                <ion-col>
                    <ion-item>
                        <ion-label>Device number:</ion-label>
                        <ion-input text-right type="text" maxlength="50" formControlName="device"></ion-input>

                    </ion-item>
                </ion-col>
                <ion-col col-2>
                    <button ion-button small float-right outline class="remove-device-btn" (click)="removeDeviceField(i)">
                        <ion-icon name="close"></ion-icon>
                    </button>
                </ion-col>
            </ion-row>
        </ion-row>

        <ion-row>
            <ion-col>
                <button ion-button outline class="cancel-btn" (click)="closeModal()">cancel</button>
            </ion-col>
            <ion-col>
                <button ion-button class="add-btn" [disabled]="!form.valid" (click)="editPond()">edit pond</button>
            </ion-col>
        </ion-row>
    </form>


</ion-content>