<ion-header no-border>
    <ion-navbar text-center>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Ponds</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <button ion-button full class="confirm" (click)="openModal('AddPond', null)">
      add pond
    </button>

    <ion-list>
        <ion-item-sliding (ionSwipe)="deleteSite(site.id)"  *ngFor="let site of siteList">
            <ion-item>
                <ion-card class='functional' (click)="goToSite(site.id)">
                    <ion-row>
                        <ion-col class="site">
                            <ion-row>
                                <ion-col>
                                    <div class="site-name">
                                        {{site.siteName}}
                                    </div>
                                </ion-col>
                            </ion-row>
                            <div class="site-details">
                                <ion-row>
                                    <ion-col>
                                        <ion-row>
                                            <i class="icon fish"></i>
                                            <div class="fish-description"> {{site.species.commonName}} </div>
                                        </ion-row>
                                    </ion-col>
                                    <ion-col>
                                        <ion-row>
                                            <i class="icon placeholder"></i>
                                            <div class="location-description">{{site.address}}</div>
                                        </ion-row>
                                    </ion-col>
                                </ion-row>

                                <ion-row class="other-details">
                                    <ion-col>
                                        
                                    <ng-container *ngFor="let cultureType of cultureTypeList">
                                        <ion-row>
                                            <div class="title" *ngIf="cultureType.code == site.cultureType">culture type</div>
                                        </ion-row>
                                        <ion-row *ngIf="cultureType.code == site.cultureType">
                                            <div class="description">{{cultureType.display}}</div>
                                        </ion-row>
                                        </ng-container>
                                    </ion-col>
                                    <ion-col>
                                        <ng-container *ngFor="let cultureEnvironment of cultureEnvironmentList">
                                        <ion-row *ngIf="cultureEnvironment.code == site.cultureEnvironment">
                                            <div class="title">culture environment</div>
                                        </ion-row>
                                        <ion-row *ngIf="cultureEnvironment.code == site.cultureEnvironment">
                                            <div class="description">{{cultureEnvironment.display}}</div>
                                        </ion-row>
                                        </ng-container> 
                                    </ion-col>
                                </ion-row>
                            </div>
                        </ion-col>
                        <!--<ion-col col-2>
                            <button ion-button color="dark" class="edit-btn" clear (click)="openModal('EditPond', site)"><i class="icon edit"></i> edit</button>
                        </ion-col>-->

                    </ion-row>
                </ion-card>
            </ion-item>
            <ion-item-options>
                <button ion-button expandable class="delete-btn" (click)="deleteSite(site.id)"><i class="icon trash"></i>delete</button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>
