<ion-header no-border>
    <ion-navbar>
        <ion-title>view pond</ion-title>
        <ion-buttons end>
            <button ion-button (click)="closeModal()">Close</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content padding>

    <ion-item>
        <ion-label>Site Name</ion-label>
        <ion-input type="text" [readonly]="true" value="Isda Ni Apor"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Device ID</ion-label>
        <ion-input type="text" [readonly]="true" value="DEV1234123"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Location</ion-label>
        <ion-input type="text" [readonly]="true" value="Lake Sebu"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Species</ion-label>
        <ion-select [(ngModel)]="species" disabled="true">
            <ion-option value="tilapia">Tilapia</ion-option>
            <ion-option value="shrimp">Shrimp</ion-option>
            <ion-option value="milkfish">Milkfish</ion-option>
            <ion-option value="crab">Crab</ion-option>
        </ion-select>
    </ion-item>

    <ion-item>
        <ion-label>Site Size</ion-label>
        <ion-input type="text" [readonly]="true" value="2 Hectares"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Water Depth</ion-label>
        <ion-input type="text" [readonly]="true" value="12 meters"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Culture Environment</ion-label>
        <ion-select [(ngModel)]="env" disabled="true">
            <ion-option value="fw">Fresh Water</ion-option>
            <ion-option value="bw">Brackish Water</ion-option>
            <ion-option value="mc">Mariculture</ion-option>
        </ion-select>
    </ion-item>

    <ion-item>
        <ion-label>Culture Type</ion-label>
        <ion-select [(ngModel)]="type" disabled="true">
            <ion-option value="pond">Pond</ion-option>
            <ion-option value="tank">Tank</ion-option>
            <ion-option value="raft">Raft</ion-option>
            <ion-option value="line">Line</ion-option>
        </ion-select>
    </ion-item>

    <ion-item>
        <ion-label>Customize Reading Interval</ion-label>
        <ion-toggle [(ngModel)]="isCustomizeReading" [checked]="isCustomizeReading" disabled="true"></ion-toggle>
    </ion-item>

    <ion-item *ngIf="!isCustomizeReading">
        <ion-label>Reading Interval</ion-label>
        <ion-select [(ngModel)]="interval">
            <ion-option value="3">3 HOURS</ion-option>
            <ion-option value="6">6 HOURS</ion-option>
            <ion-option value="9">9 HOURS</ion-option>
            <ion-option value="12">12 HOURS</ion-option>
        </ion-select>
    </ion-item>

    <ion-item *ngIf="isCustomizeReading">
        <ion-label>Reading Interval Hours</ion-label>
        <ion-input type="text" text-right [readonly]="true" value="1"></ion-input>
        <ion-label class="label-right">hour/s</ion-label>
    </ion-item>

    <ion-item>
        <ion-label>Customize Water Thresholds</ion-label>
        <ion-toggle [(ngModel)]="isCustomizeThresh" [checked]="isCustomizeThresh" disabled="true"></ion-toggle>
    </ion-item>

    <div *ngIf="isCustomizeThresh">
        <ion-row>
            <div class="threshold-title">
                pH
            </div>
            <ion-item>
                <ion-label>Deadly Low</ion-label>
                <ion-input text-right type="text" [readonly]="true" value="24"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Deadly High</ion-label>
                <ion-input text-right type="text" [readonly]="true" value="24"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Optimal Low</ion-label>
                <ion-input text-right type="text" [readonly]="true" value="24"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Optimal High</ion-label>
                <ion-input text-right type="text" [readonly]="true" value="24"></ion-input>
            </ion-item>
        </ion-row>

        <ion-row>
            <div class="threshold-title">
                Dissolved Oxygen
            </div>
            <ion-item>
                <ion-label>Deadly Low</ion-label>
                <ion-input text-right type="text" [readonly]="true" value="24"></ion-input>
                <ion-label class="label-right">mg/L</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>Deadly High</ion-label>
                <ion-input text-right type="text" [readonly]="true" value="24"></ion-input>
                <ion-label class="label-right">mg/L</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>Optimal Low</ion-label>
                <ion-input text-right type="text" [readonly]="true" value="24"></ion-input>
                <ion-label class="label-right">mg/L</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>Optimal High</ion-label>
                <ion-input text-right type="text" [readonly]="true" value="24"></ion-input>
                <ion-label class="label-right">mg/L</ion-label>
            </ion-item>
        </ion-row>

        <ion-row>
            <div class="threshold-title">
                Salinity
            </div>
            <ion-item>
                <ion-label>Deadly Low</ion-label>
                <ion-input text-right type="text" [readonly]="true" value="24"></ion-input>
                <ion-label class="label-right">mg/L</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>Deadly High</ion-label>
                <ion-input text-right type="text" [readonly]="true" value="24"></ion-input>
                <ion-label class="label-right">mg/L</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>Optimal Low</ion-label>
                <ion-input text-right type="text" [readonly]="true" value="24"></ion-input>
                <ion-label class="label-right">mg/L</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>Optimal High</ion-label>
                <ion-input text-right type="text" [readonly]="true" value="24"></ion-input>
                <ion-label class="label-right">mg/L</ion-label>
            </ion-item>
        </ion-row>

        <ion-row>
            <div class="threshold-title">
                Temperature
            </div>
            <ion-item>
                <ion-label>Deadly Low</ion-label>
                <ion-input text-right type="text" [readonly]="true" value="24"></ion-input>
                <ion-label class="label-right">°C</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>Deadly High</ion-label>
                <ion-input text-right type="text" [readonly]="true" value="24"></ion-input>
                <ion-label class="label-right">°C</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>Optimal Low</ion-label>
                <ion-input text-right type="text" [readonly]="true" value="24"></ion-input>
                <ion-label class="label-right">°C</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>Optimal High</ion-label>
                <ion-input text-right type="text" [readonly]="true" value="24"></ion-input>
                <ion-label class="label-right">°C</ion-label>
            </ion-item>
        </ion-row>
    </div>
</ion-content>