// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-content{
    font-family:"Segoe UI Light";
}

.toolbar{
    padding: 12px;
}

.toolbar-background{
    background: #26C0C8;
}

.toolbar-title {
    font-size: 2.5rem;
    color: #FFF;
    font-family: "Segoe UI Semibold";
    margin-left: -18px;
}

ion-menu{
    ion-content{
        background-color: #FFF !important;
    }
    .menu-title{
        padding-left: 15px !important;
        padding-top: 60px;
    }
    .toolbar-background {
        background: #FFF;
    }
    .item{
        color: #26C0C8;
        border-bottom: 0px !important;
    }
    .item-inner{
        border-bottom: 0px !important;
    }
}

.bar-button{
    color: #FFF;
}

.card { 
    border-radius : 15px;
    border-color: #7F7F7F; 
    .site-name{
        font-size: 20px;
    }
        .site-details{
            padding-top:2px;
            font-size: 12px;
            margin-bottom:5px;
            .fish-description{
                margin-left: 1.6px;
            }
        }
        
}

h2{
    font-family: "Segoe UI Semibold";
    color: #26C0C8;
}

.fish {
    content: url('../assets/icon/fish.png') !important;
    height: 20px;
} 

.fish-white {
    content: url('../assets/icon/fish-white .png') !important;
    height: 20px;
} 

.placeholder {
    content: url('../assets/icon/placeholder.png') !important;
    height: 20px;
}

.placeholder-white {
    content: url('../assets/icon/placeholder-white.png') !important;
    height: 20px;
}


.edit {
    content: url('../assets/icon/edit.png') !important;
    height: 18px;
}

.trash {
    content: url('../assets/icon/trash.png') !important;
    height: 25px;
}

.username {
    content: url('../assets/icon/user.png') !important;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
}

.email {
    content: url('../assets/icon/message.png') !important;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
}

.password {
    content: url('../assets/icon/password.png') !important;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
}

.phone {
    content: url('../assets/icon/phone.png') !important;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
}

.jelly {
    content: url('../assets/icon/project-jelly.png') !important;
    height: 114px;
}


.sunny {
    content: url('../assets/icon/weather/sunny.png') !important;
    height: 110px;
}

.mostly-sunny {
    content: url('../assets/icon/weather/mostly sunny.png') !important;
    height: 110px;
}

.partly-sunny {
    content: url('../assets/icon/weather/partly sunny.png') !important;
    height: 110px;
}

.hazy {
    content: url('../assets/icon/weather/hazy.png') !important;
    height: 110px;
}

.mostly-cloudy {
    content: url('../assets/icon/weather/mostly cloudy.png') !important;
    height: 110px;
}

.overcast {
    content: url('../assets/icon/weather/overcast.png') !important;
    height: 110px;
}

.fog {
    content: url('../assets/icon/weather/fog.png') !important;
    height: 110px;
}

.showers {
    content: url('../assets/icon/weather/showers.png') !important;
    height: 110px;
}

.chance-showers {
    content: url('../assets/icon/weather/chance of showers.png') !important;
    height: 110px;
}

.slight-drizzle {
    content: url('../assets/icon/weather/slight drizzle.png') !important;
    height: 110px;
}

.thunderstorm {
    content: url('../assets/icon/weather/thunderstorm.png') !important;
    height: 110px;
}

.flurries {
    content: url('../assets/icon/weather/flurries.png') !important;
    height: 110px;
}

.rain {
    content: url('../assets/icon/weather/rain.png') !important;
    height: 110px;
}

.snow {
    content: url('../assets/icon/weather/snow.png') !important;
    height: 110px;
}

.rain-snow {
    content: url('../assets/icon/weather/rain snow.png') !important;
    height: 110px;
}

.clear {
    content: url('../assets/icon/weather/clear.png') !important;
    height: 110px;
}

.cloudy{
    content: url('../assets/icon/weather/cloudy.png') !important;
    height: 110px;
}

.partly-cloudy{
    content: url('../assets/icon/weather/partly cloudy.png') !important;
    height: 110px;
}

.button-md{
        -webkit-box-shadow:  0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0px rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0px rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
    }

.card-md{
    -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0px rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0px rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
    border-color:#D0CECF;
    border: 1px solid #D0CECF;

}
.button{
    text-transform: none;
}

