<ion-header>
  <ion-navbar text-center>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Analytics</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row class="site-dropdown-header">
		<ion-item class="site-dropdown" *ngIf="siteList">
			<ion-label>Site</ion-label>
			<ion-select [(ngModel)]="siteId" (ionChange)="siteFilter(site);">
				<ion-option *ngFor="let site of siteList" value="{{site.id}}">{{site.siteName}}</ion-option>
			</ion-select>
		</ion-item>
	</ion-row>

  <h2>PH</h2>
    <ion-card>
      <ion-card-content>
        <canvas #phCanvas></canvas>
      </ion-card-content>
    </ion-card>

<h2>Dissolved Oxygen</h2>
    <ion-card>
      <ion-card-content>
        <canvas #doCanvas></canvas>
      </ion-card-content>
    </ion-card>

    <h2>Salinity</h2>
    <ion-card>
      <ion-card-content>
        <canvas #salintyCanvas></canvas>
      </ion-card-content>
    </ion-card>

    <h2>Temperature</h2>
    <ion-card>
      <ion-card-content>
        <canvas #tmpCanvas></canvas>
      </ion-card-content>
    </ion-card>
</ion-content>
